1. Load the CSV file into a DataFrame.
2. Display the first 10 rows of the DataFrame.
3. Display the last 5 rows of the DataFrame.
4. Print information about the data
5. In the "temp" column, replace NULL values with the mean of that column.
6. In the "rain" column, replace NULL values with the median of that column.
7. In the "month" and "year" columns, replace NULL values with the mode of each column, but only if NULL values are present.

In [66]:
# 1 loading the csv file int a dataframe.

import pandas as pd

df = pd.read_csv('Rain_dataset.csv')

print(df)

          tem  Month    Year       rain
0     16.9760    1.0  1901.0   18.53560
1     19.9026    2.0  1901.0   16.25480
2     24.3158    3.0  1901.0   70.79810
3     28.1834    4.0  1901.0   66.16160
4     27.8892    5.0  1901.0  267.21500
...       ...    ...     ...        ...
1375      NaN    8.0  2015.0        NaN
1376      NaN    9.0  2015.0        NaN
1377      NaN   10.0  2015.0        NaN
1378      NaN   11.0  2015.0    4.60815
1379  18.7124   12.0  2015.0    5.97798

[1380 rows x 4 columns]

In [44]:
# 2. Dsiplaying the first 10 rows of the DataFrame.

df = pd.read_csv('Rain_dataset.csv')

print(df.head(5))

       tem  Month    Year      rain
0  16.9760    1.0  1901.0   18.5356
1  19.9026    2.0  1901.0   16.2548
2  24.3158    3.0  1901.0   70.7981
3  28.1834    4.0  1901.0   66.1616
4  27.8892    5.0  1901.0  267.2150

In [43]:
# 3.  Display the last 5 rows of the DataFrame.

df = pd.read_csv('Rain_dataset.csv')

print(df.tail(10))

          tem  Month    Year       rain
1370  24.6581    3.0  2015.0   21.25290
1371  26.3966    4.0     NaN  198.79100
1372  28.3603    5.0     NaN  167.22100
1373  28.2169    6.0  2015.0  450.40500
1374      NaN    7.0  2015.0  715.22300
1375      NaN    8.0  2015.0        NaN
1376      NaN    9.0  2015.0        NaN
1377      NaN   10.0  2015.0        NaN
1378      NaN   11.0  2015.0    4.60815
1379  18.7124   12.0  2015.0    5.97798

In [50]:
# 4. Print information about the data.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380 entries, 0 to 1379
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tem     1275 non-null   float64
 1   Month   1370 non-null   float64
 2   Year    1340 non-null   float64
 3   rain    1326 non-null   float64
dtypes: float64(4)
memory usage: 43.3 KB
None

In [62]:
# 5. In the "temp" column, replace NULL values with the mean of that column.

df = pd.read_csv('Rain_dataset.csv')

x = df["tem"].mean()

df["tem"].fillna(x,inplace = True)

df

#print(df)

C:\Users\User\AppData\Local\Temp\ipykernel_14664\3377241105.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["tem"].fillna(x,inplace = True)

            tem  Month    Year       rain
0     16.976000    1.0  1901.0   18.53560
1     19.902600    2.0  1901.0   16.25480
2     24.315800    3.0  1901.0   70.79810
3     28.183400    4.0  1901.0   66.16160
4     27.889200    5.0  1901.0  267.21500
...         ...    ...     ...        ...
1375  25.025295    8.0  2015.0        NaN
1376  25.025295    9.0  2015.0        NaN
1377  25.025295   10.0  2015.0        NaN
1378  25.025295   11.0  2015.0    4.60815
1379  18.712400   12.0  2015.0    5.97798

[1380 rows x 4 columns]

In [63]:
# 6.In the "rain" column, replace NULL values with the median of that column.
df = pd.read_csv('Rain_dataset.csv')

y = df["rain"].median()

df["rain"].fillna(y, inplace = True)

df

C:\Users\User\AppData\Local\Temp\ipykernel_14664\3304054496.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rain"].fillna(y, inplace = True)

          tem  Month    Year       rain
0     16.9760    1.0  1901.0   18.53560
1     19.9026    2.0  1901.0   16.25480
2     24.3158    3.0  1901.0   70.79810
3     28.1834    4.0  1901.0   66.16160
4     27.8892    5.0  1901.0  267.21500
...       ...    ...     ...        ...
1375      NaN    8.0  2015.0  140.67550
1376      NaN    9.0  2015.0  140.67550
1377      NaN   10.0  2015.0  140.67550
1378      NaN   11.0  2015.0    4.60815
1379  18.7124   12.0  2015.0    5.97798

[1380 rows x 4 columns]

In [72]:
# 7.In the "month" and "year" columns, replace NULL values with the mode of each column, but only if NULL values are present.
df = pd.read_csv('Rain_dataset.csv')

a = df["Month"].mode()
b = df["Year"].mode()

df["Month"].fillna(a, inplace = True)
df["Year"].fillna(b, inplace = True)

print(df)

          tem  Month    Year       rain
0     16.9760    1.0  1901.0   18.53560
1     19.9026    2.0  1901.0   16.25480
2     24.3158    3.0  1901.0   70.79810
3     28.1834    4.0  1901.0   66.16160
4     27.8892    5.0  1901.0  267.21500
...       ...    ...     ...        ...
1375      NaN    8.0  2015.0        NaN
1376      NaN    9.0  2015.0        NaN
1377      NaN   10.0  2015.0        NaN
1378      NaN   11.0  2015.0    4.60815
1379  18.7124   12.0  2015.0    5.97798

[1380 rows x 4 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_14664\3465993220.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Month"].fillna(a, inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_14664\3465993220.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Year"].fillna(b, inplace = True)